/*
    Created on : Apr 5, 2017, 10:17:01 AM
    Author     : Aleks
*/


@import "/fonts/Work-Sans/Work-Sans";

body {
    font-family: "WorkSans-Regular", sans-serif;
}

.content-div {
    position: relative;
}

.root-div {
    margin: auto;
    width: 500px;
    padding-top: 100px;
    padding-bottom: 90px;
    left: 0;
    right: 0;
    font-size: 24px;
}

.login-provider-button {
    margin-top: 4px;
}

.login-provider-button-microsoft {
    box-sizing: border-box;
    background-color: #F3F3F3;
    width: 400px;
    height: 40px;
    position: relative;
    display: block;
    background-image: url("../Microsoft_logo.svg");
    background-size: contain;
    border: 8px solid transparent;
    background-repeat: no-repeat;
    cursor: pointer;
}

.login-provider-button-microsoft:before {
    content: "Log in with Microsoft";
    position: absolute;
    padding-left: 20px;
    display: inline-table;
    font-size: 18px;
    font-family: sans-serif;
    color: #737373;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
