/*
    Created on : May 14, 2017, 7:17:42 PM
    Author     : dharmaquark
*/

table, th, tc, td, .hint-table {
    border-bottom: 3px solid whitesmoke;
    background-color: black;
    border-collapse: collapse;
    padding: 5px;
}

.owned-table {
    border-bottom: 3px solid red;
    background-color: black;
    border-collapse: collapse;
    padding: 5px;
}
.refresh-button {
    background: none;
    margin:30px 0px;
    border: 3px solid white;
    font-size: 24px;
    color: white;
    padding: 10px 50px 10px 50px;
    cursor: pointer
}
.refresh-button:hover {
    background-color: white;
    color:black
}
.bloomberg-title-cell {
    font-family: avenir demi, helvetica neue, helvetica, arial, sans-serif;
    color: whitesmoke;
    font-size: 20px
}
.bloomberg-title-owned {
    font-family: avenir demi, helvetica neue, helvetica, arial, sans-serif;
    color: red;
    font-size: 20px
}
.bloomberg-cell {
    font-family: avenir demi, helvetica neue, helvetica, arial, sans-serif;
    color: white;
    font-size: 17px
}
.bloomberg-cell-owned {
    font-family: avenir demi, helvetica neue, helvetica, arial, sans-serif;
    color: red;
    font-size: 17px
}
.details-cell {
    font-family: avenir demi, helvetica neue, helvetica, arial, sans-serif;
    color: #aaaaaa;
    font-size: 17px
}
.status-cell {
    font-family: avenir demi, helvetica neue, helvetica, arial, sans-serif;
    color: green;
    font-size: 17px
}

.error-cell {
    font-family: avenir demi, helvetica neue, helvetica, arial, sans-serif;
    color: red;
    font-size: 17px
}

.claim-button {
    background: none;
    margin:10px 2px 2px 5px;
    border: 3px solid white;
    font-size: 17px;
    color: white;
    padding: 3px 10px 3px 10px;
    width: 100px;
    height: 40px;
    cursor: pointer
}
.claim-button:hover {
    background-color: white;
    color:black
}

.update-button {
    background: none;
    margin:10px 2px 2px 5px;
    border: 3px solid white;
    font-size: 17px;
    color: white;
    padding: 3px 10px 3px 10px;
    width: 150px;
    cursor: pointer
}
.update-button:hover {
    background-color: white;
    color:black
}

.notes-entry {
    height: 200px;
    width: 100%;
    box-sizing: border-box;
    resize: none;
    font-size: 16px;
    border:none;
    background-color: white;
    padding-left: 5px;
    padding-bottom: 6px
}

#modal-shade {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: silver;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

#modal-root {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    /*    width: 500px;
        height: 500px;*/
    background: black;
    align-self: center;
    z-index: 10000;
}

#modal {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}


.modal-button-close {
    background: none;
    margin: 20px 10px 0 10px;
    border: 3px solid white;
    font-size: 18px;
    color: white;
    padding: 8px 60px 8px 60px;
    cursor: pointer;
}
.modal-button-close:hover {
    background-color: white;
    color:black
}

.modal-label {
    font-size: 24px;
    color: white;
    white-space: pre-line;
}
