/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 14, 2017, 7:17:42 PM
    Author     : dharmaquark
*/

table, th, tc, td, .hint-table {
    border-bottom: 3px solid whitesmoke;
    background-color: black;
    border-collapse: collapse;
    padding: 5px;
}
.refresh-button {
    background: none;
    margin:30px 0px;
    border: 3px solid white;
    font-size: 24px;
    color: white;
    padding: 10px 50px 10px 50px;
    cursor: pointer
}
.refresh-button:hover {
    background-color: white;
    color:black
}
.bloomberg-title-cell {
    font-family: avenir demi, helvetica neue, helvetica, arial, sans-serif;
    color: whitesmoke;
    font-size: 20px
}
.bloomberg-cell {
    font-family: avenir demi, helvetica neue, helvetica, arial, sans-serif;
    color: white;
    font-size: 17px
}
.details-cell {
    font-family: avenir demi, helvetica neue, helvetica, arial, sans-serif;
    color: #aaaaaa;
    font-size: 17px
}

.claim-button {
    background: none;
    margin:10px 2px 2px 5px;
    border: 3px solid white;
    font-size: 17px;
    color: white;
    padding: 3px 10px 3px 10px;
    cursor: pointer
}
.claim-button:hover {
    background-color: white;
    color:black
}

.notes-entry {
    height: 200px;width: 500px;
    margin-bottom: 30px;
    margin-top: 15px;
    font-size: 32px;
    border:none;
    background-color: white;
    padding-left: 5px;
    padding-bottom: 6px
}